#login-area
{	
	position: fixed;
	width: 110%;
	height: 100%;
	top: 0;
	left: 0;
	align-items: center;
	display: flex;
	background-image: linear-gradient(
						rgb(104, 145, 162),
						rgb(12, 97, 33));
}

#login-container
{
	position: relative;
	min-width: 370px;
	height: 350px;
	background: #f7f7f7;
	opacity: 0.8;
    filter: alpha(opacity=80);
}

