<html>
<head>
	<title>Log In</title>
	<meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href = "/static/css/backend.css" rel = "stylesheet" type = "text/css">
	<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>
	<h1> Log In </h1>
	<div id="login-container">
		<v-card>
			<v-card-text>
				<form action="/admin" method="post" id="login-form">
					<v-text-field v-model="username" name="username" label="Username" required></v-text-field>
					<v-text-field v-model="password" name="password" label="Password" type="password" required></v-text-field>
				</form>
			</v-card-text>
			<v-card-actions>
				<v-btn @click="submit">Log In</v-btn>
			</v-card-actions>
		</v-card>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="/static/js/login-component.js"></script>
</body>
</html>